.about-name {
  text-align: center;
  margin: 25px 0;
  h1 {
  font-size: 55px;
  }
}

.about-1 {
  display:grid;
  grid-gap:10px;
  grid-template-columns: 1fr 2fr;
  h5 {
    font-size:35px;
  }
  h6 {
    color:#561B16;
    margin-bottom:40px;
    font-size:25px;
  }
  p {
    font-size:19px;
    font-weight:300;
    margin-bottom:20px;
  }
}

.about-2 {
  margin-top:20px;
  display:grid;
  grid-template-columns: 2fr 1fr;
  p {
    font-size:19px;
    font-weight:300;
    margin-bottom:20px;
  }
}

.about-image-2 {
  display:flex;
  justify-content: flex-end;
}

.about-3 {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  p {
    font-size:19px;
    font-weight:300;
    margin-bottom:20px;
  }
  margin-bottom: 100px;
}

@media (max-width: 420px) {
  .about-1 {
    grid-template-columns: 1fr;
  }
    .about-2 {
    grid-template-columns: 1fr;
  }
    .about-3 {
    grid-template-columns: 1fr;
  }
  .about-image-2, .about-image-1, .about-image-3 {
    display: flex;
    justify-content: center;
}
  .about-image-3 {
    margin-top: 10px;
  }
}



