body {
  h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato';
  }
  p {
    font-weight: 300;
  }
  background-color: white;
  position: relative;
}


.parallax-window {
  min-height: 300px;
  background: transparent;
  position: relative;
  object-fit: 50% 50%;
  img {
    width: 100%;
    object-fit: cover;
    height: 700px;
  }
}

.text-box-left {
    position: absolute;
    background-color: white;
    right: 0;
    top: 0%;
    width: 100%;
    @include from-medium {
    top: 30%;
    right: 0;
    bottom: 70%;
    width: 30%;
    }
}

.photo {
  width: 100%;
  img {
    max-height: 700px;
  }
  @include from-medium {
    width: 90%;
  }
}

.container-macaron {
  position: relative;
}

.text {
  color: white;
  text-transform: uppercase;
  p {
    font-size: 25px;
    font-weight: 200;
  }
  h3 {
    font-family:'Lato';
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 30px;
    @include from-medium {
      font-size: 40px;
    }
  }
    font-family: 'Lato';
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 10px;
    display: flex;
    margin-left: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @include from-medium-low {
      padding: 10px 50px;
    }
}

.text-home {
  color: white;
  text-transform: uppercase;
  p {
    font-size: 25px;
    font-weight: 200;
  }
  h3 {
    font-family:'Lato';
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
    @include from-medium {
      font-size: 25px;
    }
  }
    font-family: 'Lato';
    width: 100%;
    position: absolute;
    top: 30%;
    padding: 10px;
    display: flex;
    margin-left: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @include from-medium-low {
      padding: 10px 50px;
    }
}

.button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #5B1B14;
  a {
    color: #5B1B14;
    letter-spacing: 1px;
    text-decoration: none;
  }
  &:hover {
    a {
      color: white;
    }
    background-color:#5B1B14;
  }
}

