// Specific CSS for your home-page
body {
  background-color:white;
}

.banner {
  display: flex;
  justify-content: center;
}

.typed-cursor {
  display:none;
}

.moving-text {
  color: #561B16;
  z-index:1;
  margin-top:100px;
  // bottom:600px;
  font-family: $headers-font;
  font-size: 50px;
}

.about-text {
  text-align: center;
  margin-top: 100px;
  p {
    font-size: 20px;
  }
}

.about-photos {
  margin-bottom: 100px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content:center;
  img {
    padding:20px;
  }
  h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size:25px;
  }
}

.parallax {
  /* The image used */
  background-image: url("https://monsieur-macaron.s3.eu-west-3.amazonaws.com/macaronclose.jpg");

  /* Set a specific height */
  min-height: 720px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.Content {
  max-width: 850px;
  margin: 0 auto;
  padding: 15px 0;
}



