// Specific CSS for your home-page
body {
  background-color:white;
}

// .banner-image {
//   max-width:100%;
//   position: relative;
// }

.banner {
  display: flex;
  justify-content: center;
}

.typed-cursor {
  display:none;
}

.moving-text {
  color: #561B16;
  z-index:1;
  margin-top:100px;
  // bottom:600px;
  font-family: $headers-font;
  font-size: 40px;
}

.about-text {
  text-align: center;
  margin-top: 100px;
  p {
    font-size: 20px;
  }
}

.about-photos {
  margin-bottom: 100px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content:center;
  img {
    padding:20px;
  }
  h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size:25px;
  }
}

//PARALLAX//
.c {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;

  section {
    width: 100%;
    height: 100vh;
    flex: 1;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;

    &:nth-child(1) {
      .image {
        background-image: url('https://marportfolio.s3.eu-west-3.amazonaws.com/macaronhome.jpg');
      }
    }

    &:nth-child(2) {
        background-color:white;
    }

    &:nth-child(3) {
      .image {
        background-image: url(https://images.unsplash.com/photo-1461770354136-8f58567b617a?iq=100&fm=jpg&w=1000);
      }
    }

    &:nth-child(4) {
      .image {
        background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);
      }
    }

    &:nth-child(5) {
      .image {
        background-image: url(https://images.unsplash.com/photo-1460804198264-011ca89eaa43?iq=100&fm=jpg&w=1000);
      }
    }

    &:nth-child(6) {
      .image {
        background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
      }
    }

    .image {
      background-attachment: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }

    .stuff {
      display: flex;
      height: 100%;
      max-width: 100%;
      justify-content: center;
      text-align: center;
      z-index: 1000;
      margin: 0 auto;
      font-size: 26px;
      position: relative;
     }
  }
}
// .MainContainer {
//   perspective: 1px;
//   transform-style: preserve-3d;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: scroll;
// }

// .ContentContainer {
//   position: relative;
//   display: block;
//   background-color: white;
//   z-index: 1;
// }

.Content {
  max-width: 850px;
  margin: 0 auto;
  padding: 15px 0;
}


// .ParallaxContainer {
//   position: relative;
//   z-index: -1;
//   height: 100vh;
//   justify-content: center;
//   align-items: center;
//   transform: translateZ(-1px) scale(2);
// }

