.parallax-macaron {
  /* The image used */
  background-image: url("https://monsieur-macaron.s3.eu-west-3.amazonaws.com/macaronclose2.jpg");

  /* Set a specific height */
  min-height: 720px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-macaron-2 {
  /* The image used */
  background-image: url("https://monsieur-macaron.s3.eu-west-3.amazonaws.com/chocolate.jpg");

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classic-macarons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul {
  list-style-type: none;
  padding: 0;
}

.chocolate-macarons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.macaron-title-word {
  font-size: 135px;
  color: oldlace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  font-family: 'Ball';
}

.macaron-title-sentence {
  margin-top: 60px;
  position: absolute;
  font-size:30px;
  color: oldlace;
  top: 60%;
  left: 50%;
  text-shadow: 1px 1px black;
  transform: translate(-50%, -50%);
}


.macaron-text {
  text-align: center;
  h3 {
    text-align:center;
    font-size:35px;
    color: #561B16;
    margin-left:100px;
  }
}

.macaron {
  padding: 10px;
}

.macaron-info {
  font-size:20px;
  margin: 40px 0;
}

.bold {
  color: #561B16;
}

.macaron-prices {
  max-width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices-box {
  color: #5b1b14;
  background-color: white;
  border: 2px solid #5b1b14;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(100, 100, 100, 0.2);
  margin-top: 10px;
}

.prices-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 30px;
  grid-gap: 10px;

  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  li {
    list-style-type:none;
  }
}

.prices-top-info {
  h3 {
    text-shadow: 1px 1px black;
    letter-spacing: 2px;
    font-size: 40px;
    h6 {
    letter-spacing: 2px;
    font-family: 'Lato';
    }
  }
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.one-macaron {
  font-size:10px;
}

.test {
  background-color: #5b1b14;
  max-width: 215px;
}

.buy-now-button {
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  border: 1px solid #5b1b14;
  color:#5b1b14;
  padding: 10px 30px;
  font-family: 'Lato', sans-serif;
  margin: 25px 0;
  letter-spacing: 1px;
}

.buy-now-button:hover{
  background-color:#5b1b14;
  color:white;
  border: 1px solid #5b1b14;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .chocolate-macarons {
    grid-template-columns: 1fr 1fr !important;
  }

  .classic-macarons {
    grid-template-columns: 1fr 1fr !important;
  }

  .macaron {
    padding: 2px;
  }

  .macaron-text {
    h3 {
      margin: 0;
    }
  }
  .macaron-title-word {
     font-size: 55px !important;
    color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-family: 'Ball';

  }

  .macaron-title-sentence {
    margin-top: 60px;
    position: absolute;
    font-size: 18px;
    color: oldlace;
    top: 25%;
    left: 50%;
    text-shadow: 1px 1px black;
    transform: translate(-50%, -50%);
  }
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .macaron-prices {
    height: 900px;
  }
  p.macaron-info {
    margin-top: 0;
  }
  .parallax-macaron-2 {
  /* The image used */
  background-image: url("https://monsieur-macaron.s3.eu-west-3.amazonaws.com/chocolatemed.jpg");

  /* Set a specific height */
  max-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
  .parallax-macaron {
    background-image: url("https://monsieur-macaron.s3.eu-west-3.amazonaws.com/macaronclose2media.jpg");
    min-height: 414px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: inherit;
    background-size: inherit;
  }
  }

    @media (max-width: 1024px) {
    .macaron-title-word {
      font-size: 120px;
    }

    .macaron-title-sentence {
      display:none;
    }

      .chocolate-macarons {
    grid-template-columns: 1fr 1fr 1fr;
  }

    .classic-macarons {
    grid-template-columns: 1fr 1fr;
  }
  }
