.price {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #5B1B14;
  h5 {
    font-weight: 300;
  }
  width: 300px;
  margin: 20px 50px;
}

.price-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 650px;
  padding: 50px;
  text-align: center;
  h1 {
    color: #5B1B14 !important;
    letter-spacing: 5px;
  }

  h5{
    color: #5B1B14;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

.price-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  @include from-medium {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.price-box-flavor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 650px;
  padding: 50px;
  background-color:#F8F5F0;
  text-align: center;
  h1 {
    color: #5B1B14;
    letter-spacing: 5px;
  }

  h5{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}

.price-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  @include from-medium {
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.price-head {
  border-bottom: 1px solid #5B1B14;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}


.price-low {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price-low-flav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size:16px;
  }
}
