.photo-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include from-medium-low {
  flex-direction: row;
  align-items: inherit;
  justify-content: flex-start;
  }
}

.container-macaron {
  margin: 50px 20px;
  position: relative;
}

.photo-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include from-medium-low {
  flex-direction: row;
  align-items: inherit;
  justify-content: flex-end;
  }
}

#boxinside-find {
  padding: 10px;
  top: 10%;
  width: 100%;
  position: absolute;
  background-color: white;
  left: 20px;
p {
  margin-bottom: 0px;
}
@include from-medium {
  top: 30%;
  width: 50%;
}
}

.text-box {
  a {
    color:  #5B1B14;
  }
}

//// Contact ////

.text-over {
h3 {
  font-family: 'Lato';
  text-transform:uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
h2 {
  color:#5B1B14;
  font-family: 'Lato';
}
background-color: white;
width: 50%;
position: absolute;
padding: 50px;
right: 0;
top: 10%;
}

.contact-left {
  position: relative;
  background-image: url('croissanthome.png');
  background-size: cover;
}

.contact {
  @include from-medium {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 20px 20px 0px;
  }
  display: grid;
  grid-template-row: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

abbr{
  text-decoration: none !important;
  color: #5B1B14;
}

.form-group.string.optional.contact_email2.cc_cursor {
  display:none !important;
}

.contact_email2 {
  display:none;
}

#contact_email2 {
  display:none;
}

.text-over {
h3 {
  font-family: 'Lato';
  font-style: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
h2 {
  color:#5B1B14;
  font-family: 'Lato';
}
}

.contact-info {
  text-align: center;
  h1 {
    color:#5B1B14;
    margin-bottom: 10px;
    font-size: 50px;
  }
  p {
    font-size: 20px;
    font-family: "Lato";
    margin-top: 30px;
    margin-bottom: 15px;
  }
  a {
    margin-right: 20px;
  }
}

.contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  img {
  max-height:130px;
  }
}

.contact-info {
    a {
    color:#5B1B14;
  }
  a:hover {
    color:grey;
  }
}

.contact-form {
  label {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
  }
}


.send-btn {
  background-color: white;
  border:1px solid #5b1b14;
  color:#5b1b14;
  padding: 10px 45px;
  font-family: 'Lato', sans-serif;
  margin-bottom:40px;
  letter-spacing: 1px;
}

.send-btn:hover{
  background-color:#5b1b14;
  color:white;
  border: 1px solid #5b1b14;
}

  input {
    font-family: 'Lato';
    font-weight: 300;
    text-decoration: none;
  }
  input:hover{
    color:#5b1b14;
    text-decoration: none;
  }

  .send-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }




