<div class="container">
  <div class="about-name">
      <h1>About Monsieur Macaron</h1>
  </div>
  <div class="about-1">
    <div class="about-image-1">
      <%= image_tag 'Ben_rugby_shirt_macaron_paris.jpg', style:"max-height:350px" %>
    </div>
    <div class="about-text-1-align">
      <div class="about-text-1">
        <h5>Benjamin Pallais</h5>
        <h6>Founder of Monsieur Macaron</h6>
        <p><b>Who are you?</b><br>
        Bonjour, I am Benjamin. Creator of Monsieur Macaron, foodie, and ex rugby player.</p>
        <p><b>Why did you chose New Zealand?</b><br>
        Probably, for the love of rugby and the attractions around the myth of the All Blacks. I first visited New Zealand in 2007, when I was 21 years old. Since that trip, I have been motivated to become a Kiwi.</p>
      </div>
    </div>
  </div>
  <div class="about-2">
    <div class="about-text-2-align">
      <div class="about-text-2">
        <p><b>Why did you become a Pastry chef?</b><br>
        Probably the best job to express myself creatively with my patisserie, to allow me to travel around the world, and to provide happiness to my customers.</p>
        <p><b>Why have you created Monsieur Macaron Ltd? Why did you choose macarons?</b><br>
        In my opinion, Macarons are the most glamorous biscuit in the world. As a Parisien, the macaron is the most trendy patisserie and is well known to Kiwi people. The creation of the company gave me the opportunity to fully express myself, manage my own relationships with customers/partners, and have the honour of helping the NZ Food culture.</p>
        <p><b>What's the best part of your job?</b><br>
        Having the pleasure to sell and meet my customers at the Farmers Market in Hastings every Sunday.</p>
      </div>
    </div>
    <div class="about-image-2">
      <%= image_tag 'Ben_Pallais-Chef-900.jpg', style:"max-width:300px" %>
    </div>
  </div>
   <div class="about-3">
    <div class="about-image-3">
      <%= image_tag 'Ben_in_France.jpg', style:"max-width:400px" %>
    </div>
    <div class="about-text-3-align">
      <div class="about-text-3">
      <p><b>What's your favorite patisserie?</b><br>
      Royal Chocolat Gateau. Made with Almond biscuit base, Praliné Hazelnut Paste, and Chocolate Bavaroise Mousse. It's been my Birthday Cake since I was 10.</p>
      <p><b>What are your hobbies?</b><br>
      Food - Rugby - Fishing</p>
      <p><b>What's your favorite rugby club and rugby player?</b><br>
      Best rugbyman ever is Jonah LOMU. I was totally fascinated when I was a kid. Then Christian Califano, the first french prop to play for the Blues. My best teams, I'll say Stade Toulousain, All Blacks and France.</p>
      <p><b>What can we wish you for the future??</b><br>
      Keep delivering good quality baking for a reasonable price. For the long term, become the best creator of Macaron in New Zealand 😉</p>
      </div>
    </div>
  </div>
</div>

