<div class="home">
  <div class="parallax-window">
    <%= image_tag 'home1.jpg' %>
    <div class="text">
      <p>Monsieur Macaron</p>
      <h3>perpetuates taste, elegance,<br> flair & tradition</h3>
      <div class="button">
        <a href="/pages/about">See More</a>
      </div>
    </div>
  </div>
  <div class="container-macaron">
  <div class="photo-left">
    <div class="photo">
      <%= image_tag 'hand.png', height: '700px'%>
    </div>
    <div class="text-box">
      <div id='boxinside-home'>
        <div class="text-home boxtext-delivery" style='background-color: white;'>
          <p style='color:black;'>Home Delivery</p>
          <h3>freshly baked Pastries delivered<br> straight to your door</h3>
          <div class="button">
            <a href="/pages/homedelivery">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-macaron">
  <div class="photo-right">
    <div class="text-box">
      <div id='boxinside-find' style='padding: 0px;'>
        <div class="text-home boxtext-delivery " style='background-color: white;'>
          <p style='color:black;'>Macarons</p>
          <h3>deliciously made with<br>french savoir faire</h3>
          <div class="button">
            <a href="/macarons">See More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="photo">
      <%= image_tag 'home3.jpeg', height: '700px'%>
    </div>
  </div>
</div>


