<div class="parallax-home-delivery">
  <div class="home-deliv-banner">
    <h1 class="home-title-word">Home Delivery</h1>
  </div>
  <p class="home-title-sentence">In Hawke's Bay</p>
  </div>
</div>
<div class="container">
  <div class="home-delivery-info">
    <div class="home-delivery-text">
      <h2>Freshly Baked French Pastries Delivered To Your Door</h2><br>
      <h4><i>An Obsession with Freshness</i></h4><br>
      <p>We've been obsessed with Croissants and French Baking since we opened our commercial kitchen in Napier in 2015. Our team is composed of friendly young professionals, using NZ ingredients and great quality butter with the French know-how. Our baking is one of the references of artisan French Baking in New Zealand.
      <p>Every Saturday we deliver to all Hawke's Bay suburbs between Bay View and Hastings, directly to your door.</p>
      <p>We invite you to text us at <a href="tel:021-08-22-0001" class='number'>021-08-22-001</a> with your <i><u>NAME & ADDRESS.</u></i> You'll join our limited "family club". Every Thursday night at 6pm, when we deliver to your suburb, you'll receive a link to the booking online with the list of macarons and bakied items available for the following Saturday.</p>
      <p>Our home delivery service is our "MERCI" to be part of the Hawke's Bay Community. Free delivery, cheaper than town, obsessed by the perfect baking and the freshness. First in, First Served. Limited to the first 50 hours. Give it a try - you'll amazingly be well suprised by our service and our baking.</p>
    </div>
    <div class="home-delivery-price">
      <%= image_tag 'home.png', style:'width:400px;', class:'homedelphoto' %>
      <a href="sms://+64 021-08-22-0001" class="signup"><i class="fas fa-mobile-alt"></i> SIGN UP FOR DELIVERY</a>
<!--       <div class="home-delivery-price-box">
        <h3><b>PRICES</b></h3>
        <p><b>Croissants</b><br>$3.50 each, 3 for $10.</p>
        <p><b>Pain au chocolat, Pain aux raisin, Brioche chocolat,<br> Almond croissant, Danish fruit</b><br>$4.50 each, 3 for $12</p>
        <p>Plus any creation of the week...</p>
        <p class="free-delivery">✨ FREE DELIVERY FOR ALL ORDERS ✨</p>
        <p class="signup-info">Text 021-08-22-0001 with your name and address.</p>
      </div> -->
    </div>
  </div>
</div>
<script>
  ScrollReveal().reveal('.home-delivery-price', { delay: 500, distance: '200px', origin: 'right', easing: 'ease-in'})
  ScrollReveal().reveal('.home-delivery-info', { delay: 500, distance: '200px', origin: 'left', easing: 'ease-in'})
</script>
