<div class="parallax">
  <section>
    <div class="image" data-type="background" data-speed="2"></div>
    <div class="stuff" data-type="content">
      <div class="banner">
        <div class="moving-text">
          <span id="banner-typed-text"> </span>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="image" data-type="background" data-speed="7"></div>
    <div class="Content" data-type="content">
      <div class="about-text">
        <h1>Monsieur Macaron perpetuates taste, elegance, flavor, flair and tradition</h1>
        <p>Our <i>raison d'etre</i> is to give you a moment to appreciate how glamorous macarons are.</p>
      </div>
      <div class="about-photos">
        <div class="home-macaron">
          <%= image_tag 'homepage_products-macaron.jpg', style:"max-height: 300px" %>
          <h2>Macacron</h2>
        </div>
        <div class="home-croiss">
          <%= image_tag 'croissants_by_monsieur_macaron.jpg', style:"max-height: 300px"  %>
          <h2>French Pasteries</h2>
        </div>
        <div class="home-pastery">
          <%= image_tag 'homepage-products-french-patisserie.jpg', style:"max-height: 300px"  %>
           <h2>French Gateau</h2>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.headline');
  ScrollReveal().reveal('.home-macaron', { delay: 300, distance: '250px', easing: 'ease-in'})
  ScrollReveal().reveal('.home-croiss', { delay: 500, distance: '250px', easing: 'ease-in' })
  ScrollReveal().reveal('.home-pastery', { delay: 700, distance: '250px', easing: 'ease-in' })
  </script>
