<div class="parallax">
  <section>
    <div class="image" data-type="background" data-speed="2"></div>
    <div class="stuff" data-type="content">
      <div class="banner">
        <div class="moving-text">
          <span id="banner-typed-text"> </span>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="image" data-type="background" data-speed="7"></div>
    <div class="Content" data-type="content">
      <div class="about-text">
        <h1>Monsieur Macaron perpetuates taste, elegance, flavor, flair and tradition</h1>
        <p>Our <i>raison d'etre</i> is to give you a moment to appreciate how glamorous macarons are.</p>
      </div>
      <div class="about-photos">
        <div class="home-macaron">
          <%= image_tag 'homepage_products-macaron.jpg', style:"max-height: 300px" %>
          <h2>Macacron</h2>
        </div>
        <div class="home-croiss">
          <%= image_tag 'croissants_by_monsieur_macaron.jpg', style:"max-height: 300px"  %>
          <h2>French Pasteries</h2>
        </div>
        <div class="home-pastery">
          <%= image_tag 'homepage-products-french-patisserie.jpg', style:"max-height: 300px"  %>
           <h2>French Gateau</h2>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Sick Of Baking?</h1>
    <h4><i>"Stay Home"<br>Weekend Delivery Special</i></h4>
    <h4>Just $19 for 3 croissants<br>& 3 Pain au Chocolat!</h4>
    <h5>TEXT "STAY HOME SPECIAL"<br><p class="text-info">WITH YOUR NAME, PHONE NUMBER<br> & ADDRESS TO 021-0822-0001</p></h5>
    <div class="button-text">
      <a href="sms://+64 021-08-22-0001" class="text"><i class="fas fa-mobile-alt"></i> SEND TEXT NOW</a>
    </div>
    <p>Free delivery, No hassle<br>**Deliveries Saturday & Sunday Only</p>
  </div>
</div>


<script src="https://unpkg.com/scrollreveal"></script>

<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
window.onload = function() {
    setTimeout(function() {
        document.getElementById('myModal').style.display = 'block';
    }, 1500);
}
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
  ScrollReveal().reveal('.headline');
  ScrollReveal().reveal('.home-macaron', { delay: 300, distance: '250px', easing: 'ease-in'})
  ScrollReveal().reveal('.home-croiss', { delay: 500, distance: '250px', easing: 'ease-in' })
  ScrollReveal().reveal('.home-pastery', { delay: 700, distance: '250px', easing: 'ease-in' })
  </script>
