<div class="parallax-home-delivery">
  <h1 class="home-title-word">Home Delivery</h1>
  <p class="home-title-sentence">In Hawke's Bay</p>
  </div>
</div>
<div class="container">
  <div class="home-delivery-info">
    <div class="home-delivery-text">
      <h2>Freshly Baked French Pastries Delivered To Your Door</h2>
      <h4><i>An Obsession with Freshness</i></h4>
      <p>We've been obsessed with Croissant and French Baking since we opened our commercial kitchen in Napier in 2015. Our team are friendly young professionals, using NZ ingredients and great quality butter with French know-how.
      Our baking is one of the references of artisan French Baking in New Zealand. Every Saturday we deliver to all Hawke's Bay suburbs between Bay View and Havelock, directly to your door.
      We invite you to subscribe by texting <i class="number">021-08-22-0001</i> with your <u>name and address.</u> At this stage, you'll join our limited "family club". Every Thursday night you'll receive the list of baking available for the following Saturday.
      Answer before Friday 3pm if you would like baking delivered to your home. No contracts, no fees, no pressure.
      Our home delivery service is our "MERCI" to be part of the Hawkes Bay Community.
      Free delivery, cheaper than town, obsessed by the perfect baking and the freshness.
      Give a try - you'll surprise your family and share croissants at home.</p>
    </div>
    <div class="home-delivery-price">
      <div class="home-delivery-price-box">
        <h3><b>PRICES</b></h3>
        <p><b>Croissants</b><br>$3.50 each, 3 for $10.</p>
        <p><b>Pain au chocolat, Pain aux raisin, Brioche chocolat,<br> Almond croissant, Danish fruit</b><br>$4.50 each, 3 for $12</p>
        <p>Plus any creation of the week...</p>
        <p class="free-delivery">✨ FREE DELIVERY FOR ALL ORDERS ✨</p>
        <a href="sms://+64 021-08-22-0001" class="signup"><i class="fas fa-mobile-alt"></i> SIGN UP FOR DELIVERY</a>
        <p class="signup-info">Text 021-08-22-0001 with your name and address.</p>
      </div>
    </div>
  </div>
</div>
<script>
  ScrollReveal().reveal('.home-delivery-price', { delay: 500, distance: '200px', origin: 'right', easing: 'ease-in'})
  ScrollReveal().reveal('.home-delivery-info', { delay: 500, distance: '200px', origin: 'left', easing: 'ease-in'})
</script>
