<div class="home">
  <div class="parallax-window">
    <%= image_tag 'mm1.png' %>
    <div class="text">
      <p>Where to find us</p>
      <h3>COME FIND US TO ENJOY OUR<br>QUALITY BAKED GOODS</h3>
      <div class="button">
        <a href="/contact/new">Join Now</a>
      </div>
    </div>
  </div>
</div>
<div class="container-macaron">
  <div class="text-box-right">
    <div class='boxtext-delivery' style='background-color: white'>
      <h3>OUR KITCHEN</h3><br>
      <p>Don't hesitate to order your macarons and to come to pick them up on a week day at the kitchen located in Onekawa - Napier.<br><br>Macarons are made fresh every day and you wont find a better quality/price in Hawkes Bay.</p>
      <br>
      <a href="https://goo.gl/maps/GvkNzDXjqKKpveqA7">13 Thorn Place, Onekawa, Napier 4110, New Zealand</a>
    </div>
  </div>
  <div class="photo-right">
    <%= image_tag 'macaronplate.jpg', height: '700px'%>
  </div>
</div>
<div class="container-macaron">
  <div class="photo">
    <%= image_tag 'farmers.jpg', height: '700px'%>
  </div>
  <div class="text-box-left">
    <div class='boxtext-delivery' style='background-color: white'>
      <h3><a href="https://hawkesbayfarmersmarket.co.nz/">HAWKES BAY SUNDAY<br>FARMERS MARKET</a></h3><br>
      <p>Since 2015, we are official members and proud representatives of Macarons and French Croissants made here in Hawkes Bay! <br><br>Stop by our booth to try any of our Macarons or our French Pasteries.</p>
      <br><br>
      <a href="https://goo.gl/maps/GvkNzDXjqKKpveqA7">Kenilworth Road, Mayfair, Hastings 4122, New Zealand</a>
    </div>
  </div>
</div>
