.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: $body-font;
  letter-spacing: 1px;
   z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-link {
  margin-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
}


